body {
	padding-top: 150px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

h1 {
	font-weight: 100;
}

.container {
	padding-left: 10vw;
	padding-right: 10vw;
}

.form-control {
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#add, button {
	border-color: transparent;
	background-color: transparent;
	border-radius: 0 !important;
}

#add:hover {
	cursor: pointer;
}

ul {
list-style-type: none;
}

#todos, #done > ul > li {	
	font-size: 20px;
}

#done {
	text-decoration: line-through;
}